In [22]:
import pandas as pd

df = pd.read_csv('~/PycharmProjects/Financial_Programming/Homework/HW2/TAQ_JNJ_1004_1015_2010_trading_.csv', delim_whitespace=True)

df.dtypes

date        int64
hour        int64
minute      int64
second      int64
price     float64
volume      int64
dtype: object

In [39]:
df1 = df.loc[(df.hour >= 10) & (df.hour < 16)]
df2 = df.loc[(df.hour == 9) & (df.minute >= 30)]

data = pd.concat([df1, df2], axis=0)

data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>hour</th>
      <th>minute</th>
      <th>second</th>
      <th>price</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3607</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>61.8600</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3608</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>61.8500</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3609</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>61.8500</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3610</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8600</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3611</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8600</td>
      <td>500</td>
    </tr>
    <tr>
      <th>3612</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8700</td>
      <td>200</td>
    </tr>
    <tr>
      <th>3613</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8700</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3614</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8700</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3615</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8800</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3616</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3617</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>61.8700</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3618</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8800</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3619</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3620</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3621</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3622</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3623</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8800</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3624</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8800</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3625</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8700</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3626</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3627</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.9000</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3628</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.8900</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3629</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.9000</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3630</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>61.9000</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3631</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>61.9000</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3632</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>61.9000</td>
      <td>500</td>
    </tr>
    <tr>
      <th>3633</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>61.9000</td>
      <td>200</td>
    </tr>
    <tr>
      <th>3634</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>61.9000</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3635</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>61.9100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>3636</th>
      <td>20101004</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>61.9100</td>
      <td>200</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>375753</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375754</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>200</td>
    </tr>
    <tr>
      <th>375755</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375756</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375757</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375758</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375759</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375760</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>500</td>
    </tr>
    <tr>
      <th>375761</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>135</td>
    </tr>
    <tr>
      <th>375762</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>55</td>
      <td>63.5200</td>
      <td>200</td>
    </tr>
    <tr>
      <th>375763</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>56</td>
      <td>63.5125</td>
      <td>130</td>
    </tr>
    <tr>
      <th>375764</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>56</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375765</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>56</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375766</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>56</td>
      <td>63.5300</td>
      <td>300</td>
    </tr>
    <tr>
      <th>375767</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>56</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375768</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375769</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375770</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>500</td>
    </tr>
    <tr>
      <th>375771</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375772</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375773</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375774</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375775</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375776</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375777</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375778</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>57</td>
      <td>63.5100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>375779</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>58</td>
      <td>63.5200</td>
      <td>1800</td>
    </tr>
    <tr>
      <th>375780</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>58</td>
      <td>63.5200</td>
      <td>1200</td>
    </tr>
    <tr>
      <th>375781</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>58</td>
      <td>63.5250</td>
      <td>300</td>
    </tr>
    <tr>
      <th>375782</th>
      <td>20101015</td>
      <td>9</td>
      <td>59</td>
      <td>59</td>
      <td>63.5200</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
<p>418831 rows × 6 columns</p>
</div>