In [19]:
from pandas_datareader import data
import datetime

start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2016, 12, 1 )

sp500 = data.DataReader("^GSPC", 'yahoo', start, end)

sp500.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>2038.199951</td>
      <td>2038.199951</td>
      <td>1989.680054</td>
      <td>2012.660034</td>
      <td>4304880000</td>
      <td>2012.660034</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>2013.780029</td>
      <td>2021.939941</td>
      <td>2004.170044</td>
      <td>2016.709961</td>
      <td>3706620000</td>
      <td>2016.709961</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>2011.709961</td>
      <td>2011.709961</td>
      <td>1979.050049</td>
      <td>1990.260010</td>
      <td>4336660000</td>
      <td>1990.260010</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>1985.319946</td>
      <td>1985.319946</td>
      <td>1938.829956</td>
      <td>1943.089966</td>
      <td>5076590000</td>
      <td>1943.089966</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>1945.969971</td>
      <td>1960.400024</td>
      <td>1918.459961</td>
      <td>1922.030029</td>
      <td>4664940000</td>
      <td>1922.030029</td>
    </tr>
  </tbody>
</table>
</div>