In [5]:
from pandas_datareader import data
import datetime

start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2016, 12, 1 )

sp500 = data.DataReader("^GSPC", 'yahoo', start, end)

sp500.loc[:, 'avg_price'] = (sp500.loc[:, 'High'] + sp500.loc[:, 'Low'] + sp500.loc[:, 'Close'])/3

sp500.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
      <th>avg_price</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>2038.199951</td>
      <td>2038.199951</td>
      <td>1989.680054</td>
      <td>2012.660034</td>
      <td>4304880000</td>
      <td>2012.660034</td>
      <td>2013.513346</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>2013.780029</td>
      <td>2021.939941</td>
      <td>2004.170044</td>
      <td>2016.709961</td>
      <td>3706620000</td>
      <td>2016.709961</td>
      <td>2014.273315</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>2011.709961</td>
      <td>2011.709961</td>
      <td>1979.050049</td>
      <td>1990.260010</td>
      <td>4336660000</td>
      <td>1990.260010</td>
      <td>1993.673340</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>1985.319946</td>
      <td>1985.319946</td>
      <td>1938.829956</td>
      <td>1943.089966</td>
      <td>5076590000</td>
      <td>1943.089966</td>
      <td>1955.746623</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>1945.969971</td>
      <td>1960.400024</td>
      <td>1918.459961</td>
      <td>1922.030029</td>
      <td>4664940000</td>
      <td>1922.030029</td>
      <td>1933.630005</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
import pandas as pd

it_stock = pd.read_csv('/Users/Maxwell/PycharmProjects/Github/FinancialProgramClass/companylist_it.csv').loc[:, 'Symbol']
bank_stock = pd.read_csv('/Users/Maxwell/PycharmProjects/Github/FinancialProgramClass/companylist_bank.csv').loc[:, 'Symbol']
df = pd.DataFrame()
for ticker in it_stock:
    
    df_temp = data.DataReader(ticker, 'yahoo', start, end)
    df_temp.loc[:, 'Ticker'] = str(ticker)
    df_temp.loc[:, 'Industry'] = 'IT'
    df = pd.concat([df, df_temp])

for ticker in bank_stock:
    
    df_temp = data.DataReader(ticker, 'yahoo', start, end)
    df_temp.loc[:, 'Ticker'] = str(ticker)
    df_temp.loc[:, 'Industry'] = 'Bank'
    df = pd.concat([df, df_temp])

df.loc[:, 'avg_price'] = (df.loc[:, 'High'] + df.loc[:, 'Low'] + df.loc[:, 'Close'])/3

In [45]:
def arithmetic_return_action(df, k = 30, p = 0.05, t = 0.15):
    '''
    This function will calculate arithmetic return of k days and based on the sum return to determince actions
    
    :param df: stock data
    :param k: number of days
    :param p: cutoff rate
    :return: stock data labeled with actions
    '''

    import numpy as np
    df.loc[:, 'temp_return'] = 0
    df.loc[:, 'sum_return']  = 0
    
    
    for i in range(1, k + 1):
        
        df.loc[:, 'temp_return'] = (df.loc[:, 'avg_price'].shift(i) - df.loc[:, 'Close']) / df.loc[:, 'Close']
        df.loc[np.fabs(df.temp_return) > p, 'sum_return'] += df.loc[(np.fabs(df.temp_return) > p), 'temp_return']

    
    df.loc[df.sum_return >= t, 'action'] = 'buy'    
    df.loc[(df.sum_return < t) & (df.sum_return > -t), 'action'] = 'hold'  
    df.loc[df.sum_return < -t, 'action'] = 'sell' 
    
    return df.loc[:, ['Open', 'High', 'Low', 'Close', 'Volume', 'avg_price', 'sum_return', 'action']]

In [50]:
sp500_action = arithmetic_return_action(sp500)

sp_3m = sp500_action.loc[:'2016-3-30']

sp_3m.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>avg_price</th>
      <th>sum_return</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>60.000000</td>
      <td>60.000000</td>
      <td>60.000000</td>
      <td>60.000000</td>
      <td>6.000000e+01</td>
      <td>60.000000</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1949.065826</td>
      <td>1962.077657</td>
      <td>1932.394336</td>
      <td>1949.416329</td>
      <td>4.573058e+09</td>
      <td>1947.962774</td>
      <td>-0.200921</td>
    </tr>
    <tr>
      <th>std</th>
      <td>62.592920</td>
      <td>59.399897</td>
      <td>67.653224</td>
      <td>64.209979</td>
      <td>7.304275e+08</td>
      <td>63.404883</td>
      <td>0.451638</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1833.400024</td>
      <td>1847.000000</td>
      <td>1810.099976</td>
      <td>1829.079956</td>
      <td>2.809090e+09</td>
      <td>1828.726644</td>
      <td>-1.187672</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1901.590027</td>
      <td>1916.912506</td>
      <td>1877.042511</td>
      <td>1901.167511</td>
      <td>4.108312e+09</td>
      <td>1897.383341</td>
      <td>-0.590312</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1937.014954</td>
      <td>1948.854980</td>
      <td>1919.869995</td>
      <td>1939.030029</td>
      <td>4.579425e+09</td>
      <td>1934.628336</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2000.587494</td>
      <td>2012.767456</td>
      <td>1989.455017</td>
      <td>2004.485016</td>
      <td>5.027802e+09</td>
      <td>2002.406667</td>
      <td>0.131529</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2058.270020</td>
      <td>2072.209961</td>
      <td>2058.270020</td>
      <td>2063.949951</td>
      <td>6.503140e+09</td>
      <td>2064.809977</td>
      <td>0.586153</td>
    </tr>
  </tbody>
</table>
</div>