In [1]:
from pandas_datareader import data
import datetime

start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2016, 12, 1 )

sp500 = data.DataReader("^GSPC", 'yahoo', start, end)

sp500.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>2038.199951</td>
      <td>2038.199951</td>
      <td>1989.680054</td>
      <td>2012.660034</td>
      <td>4304880000</td>
      <td>2012.660034</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>2013.780029</td>
      <td>2021.939941</td>
      <td>2004.170044</td>
      <td>2016.709961</td>
      <td>3706620000</td>
      <td>2016.709961</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>2011.709961</td>
      <td>2011.709961</td>
      <td>1979.050049</td>
      <td>1990.260010</td>
      <td>4336660000</td>
      <td>1990.260010</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>1985.319946</td>
      <td>1985.319946</td>
      <td>1938.829956</td>
      <td>1943.089966</td>
      <td>5076590000</td>
      <td>1943.089966</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>1945.969971</td>
      <td>1960.400024</td>
      <td>1918.459961</td>
      <td>1922.030029</td>
      <td>4664940000</td>
      <td>1922.030029</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
import pandas as pd

it_stock = pd.read_csv('/Users/Maxwell/PycharmProjects/Github/FinancialProgramClass/companylist_it.csv').loc[:, 'Symbol']
bank_stock = pd.read_csv('/Users/Maxwell/PycharmProjects/Github/FinancialProgramClass/companylist_bank.csv').loc[:, 'Symbol']
df = pd.DataFrame()
for ticker in it_stock:
    
    df_temp = data.DataReader(ticker, 'yahoo', start, end)
    df_temp.loc[:, 'Ticker'] = str(ticker)
    df_temp.loc[:, 'Industry'] = 'IT'
    df = pd.concat([df, df_temp])

for ticker in bank_stock:
    
    df_temp = data.DataReader(ticker, 'yahoo', start, end)
    df_temp.loc[:, 'Ticker'] = str(ticker)
    df_temp.loc[:, 'Industry'] = 'Bank'
    df = pd.concat([df, df_temp])

df.loc[:, 'avg_price'] = (df.loc[:, 'High'] + df.loc[:, 'Low'] + df.loc[:, 'Close'])/3
df.loc[:, 'return'] = (df.loc[:, 'avg_price'] - df.loc[:, 'Close']) / df.loc[:, 'Close']

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
      <th>Ticker</th>
      <th>Industry</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>102.610001</td>
      <td>105.370003</td>
      <td>102.000000</td>
      <td>105.349998</td>
      <td>67649400</td>
      <td>103.057063</td>
      <td>AAPL</td>
      <td>IT</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>105.750000</td>
      <td>105.849998</td>
      <td>102.410004</td>
      <td>102.709999</td>
      <td>55791000</td>
      <td>100.474523</td>
      <td>AAPL</td>
      <td>IT</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>100.559998</td>
      <td>102.370003</td>
      <td>99.870003</td>
      <td>100.699997</td>
      <td>68457400</td>
      <td>98.508268</td>
      <td>AAPL</td>
      <td>IT</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>98.680000</td>
      <td>100.129997</td>
      <td>96.430000</td>
      <td>96.449997</td>
      <td>81094400</td>
      <td>94.350769</td>
      <td>AAPL</td>
      <td>IT</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>98.550003</td>
      <td>99.110001</td>
      <td>96.760002</td>
      <td>96.959999</td>
      <td>70798000</td>
      <td>94.849671</td>
      <td>AAPL</td>
      <td>IT</td>
    </tr>
  </tbody>
</table>
</div>